{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">

        </div>
    </section>
    <section>
        <div class="container">
        <h1>Nos meilleurs recettes</h1>

        </div>
    </section>
{% endblock %}
